.elementor-79 .elementor-element.elementor-element-ace1842 .elementor-spacer-inner {height: 50px;}
.elementor-79 .elementor-element.elementor-element-53f881e {text-align: center;}
.elementor-79 .elementor-element.elementor-element-7a49df2 {text-align: center;}
.elementor-79 .elementor-element.elementor-element-7a49df2 .elementor-heading-title {font-size: 32px;font-weight: 100;line-height: 2.5em;}
.elementor-79 .elementor-element.elementor-element-c19f0fd {text-align: center;}
.elementor-79 .elementor-element.elementor-element-c19f0fd .elementor-heading-title {font-size: 23px;font-weight: 400;}
.elementor-79 .elementor-element.elementor-element-bf399ba .elementor-spacer-inner {height: 50px;}